<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="//cdn.uino.cn/deno/semantic.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js" defer></script>
  <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js" defer></script>
  <script src="/static/js/footer.js" defer></script>
</head>

<body>
  <%- include('components/nav') %>
  <%- include('components/nav-setting') %>
  <%- include('components/notification') %>